[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"

[packages]
django = "*"
jinja2 = "*"
pytest = "*"
selenium = "*"
dynaconf = "*"
dj-config-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
sentry-sdk = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
